.container {
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 20vw;
    height: 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 10px;
    background: #fff;
    position: absolute;
    text-align: center;
    align-items: center;
}
.btndiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.title{
    font-size: 20px;

}