.container {
    position: relative;
    width: 100vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatingSection{
    width: 500px;
    height: 100vh;
    display: flex;
    background-color: #f1e7a6;

}

.messageSection{
    flex: 1;
    display: flex;
    gap:16px;
    flex-direction: column;
}

